<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Among_Us_Hook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Among_Us_Hook.Properties.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckWebhook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebhookURL" serializeAs="String">
                <value />
            </setting>
            <setting name="VChannelID" serializeAs="String">
                <value />
            </setting>
        </Among_Us_Hook.Properties.Settings>
    </userSettings>
</configuration>